DB_USER=postgres
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=shoe_sales_db

JWT_KEY=your_super_secret_jwt_key_here_please_change_it
ALGORITHM=HS256
JWT_TOKEN_EXPIRE=60
CORS_ORIGINS=http://localhost:5173,http://localhost:8000
MAX_IMAGE_SIZE_MB=5
